* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight:100;
}

html {
  font-size: 62.5%;
  font-family: 'Oswald', sans-serif;
  
}

:root {
--first-color: #FFBF00;
--second-color:#66B2FF;
--third-color:#32CD32;
--four-color:#0F0F0F;
--five-color:#F5F5F5;
--six-color:#FF2400;
}

body {
  background:linear-gradient(to top left, var(--first-color) 0% , var(--six-color) 10% , var(--five-color) 20%, var(--five-color) 80% , var(--second-color) 90% , var(--third-color) 100% );

  width:  100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}


.swiper {
  width: 90vw;
  height: 90vh;

  background: none;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}


.sli {
  width: 100%;
  height: 100%;

  border-radius: 0.5rem;
 
background: white;

}


.Slide1{
display: flex;
flex-direction: column;
align-items: center;

clip-path: polygon(30% 0%, 100% 0, 100% 70%, 70% 100%, 0 100%, 0% 30%);
}

.text1 {
  font-size: 15rem;
  margin-top: 2rem;

  
  background: url('imgs/motocross.jpeg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  mask-image: url('imgs/motocross.jpeg');
  background-position: -70px -30px; 
}

.text2 {
  background: -webkit-linear-gradient(var(--second-color), var(--third-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 3.5rem;
  margin-top: 2rem;
}

.text3 {
  background: -webkit-linear-gradient(var(--second-color), var(--third-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;

  margin-bottom: 2rem;
}

.h2div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-top: 15rem;
}

.effect1 {
  width: 30rem;
  height: 5px;
  border-radius: 0.5rem;
  background: linear-gradient(to right, var(--first-color), var(--second-color), var(--third-color), var(--six-color));
}

.effect2 {
  width: 25rem;
  height: 5px;
  border-radius: 0.5rem;
  background: linear-gradient(to left, var(--first-color), var(--second-color), var(--third-color), var(--six-color));
  margin-top: 1rem;
}

.Slide1 img {
  width: 80rem;
  height: 50rem;

  border-radius: 1rem;
}

/*========================================================================*/

.Slide2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textSL2div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textSL2div h2 {
  font-size: 5rem;
  background: linear-gradient(to left, var(--first-color) 20%, var(--third-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.textSL2div p {
  font-size: 3rem;
  padding: 2rem 20rem 2rem 20rem;

  width: 80%;
  height: 90%;

  margin-top: 2rem;

  background: linear-gradient(to left, var(--first-color) 20%, var(--third-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

 border-style: double;
 border-width: 2px;
  border-image: linear-gradient(to top, var(--second-color), var(--six-color)) 1;

clip-path: polygon(20% 0%, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 20%);

}

.Slide2 .sl2Img1 {
  position: absolute;
  border-radius:5rem;
  transform: rotate(-20deg);

  bottom: 0;
  right: 0;

  width: 50rem;
}


.Slide2 .sl2Img2 {
  position: absolute;
  border-radius:5rem;
  transform: rotate(-10deg);

  margin-top: 5rem;

  top:0;
  left: 0;

  width: 50rem;
}

/*========================================================================*/

.Slide3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textSL3div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.textSL3div h2 {
  font-size: 5rem;
  background: linear-gradient(to left, var(--second-color) 20%, var(--six-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textSL3div p {
  font-size: 2.5rem;
  padding: 2rem 20rem 2rem 20rem;
  background: linear-gradient(to left, var(--second-color) 20%, var(--six-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-container {
  position: relative;
  width: 80rem;
  height: 40rem;
  
}

.image-slice {
  position: absolute;
  top: 0;
  height: 100%;
  width: 33.33%;
  transition: all 0.5s ease-in-out;

  background-image: url("imgs/motocross2.jpg");
  background-repeat: no-repeat;
  background-size: 100rem 40rem;
}

.slice-one {
  left: -10rem;
  background-position: -230px 0 ;
}

.slice-two {
  left: 25rem;
  background-position: -500px 0 ;  
}

.slice-three {
  left: 60rem;
  background-position: -770px 0; 
}

.image-container:hover .slice-one {
  left: 0;
}

.image-container:hover .slice-two {
  left: 33.33%;
}

.image-container:hover .slice-three {
  left: 66.67%;
}

/*========================================================================*/

.Slide4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-style: double;
 border-width: 2px;
  border-image: linear-gradient(to top, var(--first-color), var(--second-color), var(--third-color)) 1;

}

.Sl4h2 {
  font-size: 5rem;
  background: linear-gradient(to left, var(--first-color) 20%, var(--second-color) 40%, var(--third-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom:2rem;
  margin-top: 2rem;
}

.categorias {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr ;
  justify-items: center;
  gap: 1rem;

  margin-bottom: 2rem;

  width: 100%;
  height: 100%;
}

.boxC {
  width: 50rem;
  height: 23rem;
  border-style: double;
 border-width: 2px;
  border-image: linear-gradient(to top, var(--first-color), var(--second-color), var(--third-color)) 1;

clip-path: polygon(20% 0%, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 20%);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxC h2 {
  font-size: 2.5rem;
  margin-top: 1rem;

  background: linear-gradient(to left, var(--first-color) , var(--second-color), var(--third-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boxC p {
  font-size: 1rem;
  padding: 0rem 2rem 0rem 2rem;

  background: linear-gradient(to left, var(--second-color) 20%, var(--six-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boxC video {
 
  width: 18rem;

  margin-top: 1rem;
}


#btnBack {
  position: absolute;
  left: 0;

  font-size: 5rem;
  color: var(--third-color);

  background: none;

  border-radius: 5rem;

  margin-left: 28rem;

 font-size: 5rem;

  cursor: pointer;
}

.Slide5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to top right, var(--six-color) 0%, var(--five-color) 10%, var(--five-color) 90%, var(--second-color) 100%);

}

.Slide5 h2 {
  font-size: 5rem;
  margin-bottom: 2rem;

  padding: 1rem 1rem 1rem 1rem;

  background: linear-gradient(to left, var(--six-color) 20%,  var(--second-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border-style: double;
  border-width: 2px;
   border-image: linear-gradient(to top, var(--six-color),  var(--second-color)) 1;
}

.utils {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.util {
  width: 40rem;
  padding: 1rem 1rem 1rem 1rem;

  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;

  background: linear-gradient(to left, var(--six-color) 20%,  var(--second-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.util:hover p{
  font-size: 2.5rem;
  
}

.util:hover img{
  transform: scale(1.5);
}

.utils img {
  width: 6rem;
  height: 6rem;
}


.Slide6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background:linear-gradient(to left, var(--first-color) 0% , var(--six-color) 10% , var(--five-color) 20%, var(--five-color) 80% , var(--second-color) 90% , var(--third-color) 100% );
}

.textSL6div {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m {
  background: linear-gradient(to left, var(--six-color),  var(--second-color) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.s {
  background: linear-gradient(to left, var(--second-color),  var(--third-color) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g {
  background: linear-gradient(to left, var(--first-color),  var(--second-color) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.j {
  background: linear-gradient(to left, var(--second-color),  var(--six-color),var(--first-color)  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p {
  background: linear-gradient(to left, var(--third-color),  var(--six-color) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.a {
  background: linear-gradient(to left, var(--third-color),  var(--first-color) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.F{
font-size: 5rem;

margin-bottom: 10rem;

  background: linear-gradient(to left, var(--third-color),  var(--first-color) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.hidden {
  visibility: hidden;
  width: 0rem;
  height: 0rem;
  position: absolute;
  margin-bottom:100rem ;
}
