.boxCBig {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  border: 0px solid black !important;
}

.ct1hBig {
font-size: 5rem !important;
margin-top: 2rem !important;
margin-bottom: 2rem !important;
}

.ct1pBig {
  font-size: 2.5rem !important;
  width:120rem !important;
}

.ct1vBig {
  width: 80rem !important;
  height: 50rem !important;
  margin-bottom: 13rem !important;
  border: 0px solid black !important;
}